extends layout.pug

block content
  header.masthead.text-center.text-white
        .masthead-content
          .container
            h1.masthead-heading.mb-0 Trueke
            h2.masthead-subheading.mb-0 Todos ganan
            a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='/signup') Regístrate
        .bg-circle-1.bg-circle
        .bg-circle-2.bg-circle
        .bg-circle-3.bg-circle
        .bg-circle-4.bg-circle
  section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='/public/img/fondo1.jpg', alt='')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 Publica avisos
            p
              | Ofrece tus avisos a otros usuarios y ve con quien haces match. 
  section
    .container
      .row.align-items-center
        .col-lg-6
          .p-5
            img.img-fluid.rounded-circle(src='/public/img/give.jpg', alt='')
        .col-lg-6
          .p-5
            h2.display-4 Recibe ofertas
            p
              | Otros usuarios estarán interesados en tu publicación, elige sabiamente, no hay vuelta atrás!
  section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            img.img-fluid.rounded-circle(src='/public/img/recycle.jpg', alt='')
        .col-lg-6.order-lg-1
          .p-5
            h2.display-4 Recicla
            p
              | Hazlo por la tierra 