extends layout.pug

block content
  header.masthead.text-center.text-white
        .masthead-content
          .container
            h2.masthead-subheading.mb-0 Regístrate
            br
            .row.justify-content-center
              .col-4
                form(action="/api/signup", method="post")
                  .row
                      .col
                          input.form-control(type='text', name="firstName", placeholder='First name')
                  .row.mt-4      
                      .col
                          input.form-control(type='text', name="lastName", placeholder='Last name')
                  .row.mt-4
                      .col
                          input.form-control(type='text', name="email", placeholder='Email')
                  .row.mt-4   
                      .col
                          input.form-control(type='password', name="password", placeholder='Password')
                  button.btn.btn-primary.btn-xl.rounded-pill.mt-4(type="submit") Enviar
        .bg-circle-1.bg-circle
        .bg-circle-2.bg-circle
        .bg-circle-3.bg-circle
        .bg-circle-4.bg-circle