extends layout.pug
block content
    //- #offerModal.modal.bd-example-modal-xl.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    //-   .modal-dialog.modal-lg(role='document')
    //-     .modal-content
    //-       .modal-header
    //-         h5#exampleModalLabel.modal-title Ofertar publicacioón
    //-         button.close(type='button', data-dismiss='modal', aria-label='Close')
    //-           span(aria-hidden='true') ×
    //-       .modal-body
    //-         each my_pub in my_pubs
    //-             li.media.my-6
    //-               figure
    //-                 img.figure-img.img-fluid.rounded.align-self-start.mr-3.pub(src='/' + my_pub.image_url, alt='...')
    //-               .media-body
    //-                 h5.mt-0.mb-1 #{my_pub.title}
    //-                 |       #{my_pub.description}
    //-                 br
    //-                 form#offer-form(method="post")
    //-                   input(type="hidden", name="offering_id", value=my_pub.id)
    //-                   button.btn.btn-secondary(type='submit') Ofertar

    header.masthead
        .masthead-content
            .container
                h1.text-white 
                    if search
                        | Resultados de búsqueda: #{search}
                    else 
                        | Últimas publicaciones
                br
                each pubs in publications                                   
                    .card-columns
                        each pub in pubs
                            .card
                                img.card-img-top(src='/' + pub.image_url, alt='...')
                                .card-body.p-2
                                    h5.card-title                                         
                                        a(href="/publications/" + pub.id) #{pub.title}
                                        //- span.ml-1.badge.badge-info(href="/publications/" + pub.id) #{pub.barters_count}
                                    h6.card-subtitle.mb-2.text-muted @#{pub.user_name}                                        
                                .card-footer.p-0
                                    .btn-group.container-fluid.p-0(role='group', aria-label='Basic example')
                                        button.offer.btn.btn-light.text-info(type='button', data-pub-id=pub.id, data-publisher-id=pub.publisher_id)
                                            i.fas.fa-handshake
                                        button.btn.btn-light.text-primary(type='button')
                                            i.fas.fa-share-alt
    #offerForm.d-none
        form#offerFormForm.form-lg.p-0(action="/", method="post")
            .col-sm-12.p-0
                .form-group        
                    select.form-control(name="offering_id")
                        option(selected="true") Seleccionar publicación ...
                        each my_pub in my_pubs
                            option(value=my_pub.id) #{my_pub.title}
                    input(type="hidden", id="barter_receiver_id" name="receiver_id")
                .input-group
                    input.form-control(type='text', placeholder="Mensaje", name="message")
                    .input-group-append         
                        button.btn.btn-sm.btn-secondary(type='submit') Ofertar
