doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title TruekeApp
    // Bootstrap core CSS
    link(href='/public/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i', rel='stylesheet')
    // Custom styles for this template
    link(href='/public/css/one-page-wonder.css', rel='stylesheet')
    //- link(href='/public/css/font-awesome.css.map', rel='stylesheet')
    //- link(href='/public/css/font-awesome.min.css', rel='stylesheet')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")
  body
    // Navigation       
    header.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
      .container-fluid
        a.navbar-brand(href='/') Trueke
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          form.form-inline(action="/")
            input.form-control.mr-lg-2(type='search', name="search", placeholder='Search', aria-label='Search')
            button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Search
          ul.navbar-nav.ml-auto
            li.nav-item
              span.navbar-brand #{user.firstname + ' ' + user.lastname}
            li.nav-item
              a.btn.nav-link(href='/account/publications') Mis Publicaciones
            li.nav-item
              a.btn.nav-link(href='/account/messages') Mensajes
            li.nav-item
              a.nav-link(href='/api/logout') Cerrar Sesión
    block content    
    // Footer
    footer.py-5.bg-black
      .container
        p.m-0.text-center.text-white.small Copyright © Trueke, 2019
      // /.container
      // Bootstrap core JavaScript
      script(src='/public/vendor/jquery/jquery.min.js')
      script(src='/public/vendor/bootstrap/js/bootstrap.bundle.min.js')
      script(src='/public/js/app.js')