extends layout.pug

block content  
  header.masthead
        .masthead-content
          .container
            h2.text-white.mb-1 Mensajes #{chats.length} 
            .messaging
                .inbox_msg
                    .inbox_people
                        .headind_srch
                            .recent_heading
                                h4 Mensajes de #{chat.firstname} #{chat.lastname}
                            //- .srch_bar
                            //-     .stylish-input-group
                            //-         input.search-bar(type='text', placeholder='Search')
                            //-         span.input-group-addon
                            //-             button(type='button')
                            //-                 i.fa.fa-search(aria-hidden='true')
                        .inbox_chat                               
                            .chat_list.active_chat
                                .chat_people
                                    .chat_img
                                        img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                                    .chat_ib
                                        h5
                                            a(href="/account/messages/" + chat.id) #{chat.firstname} #{chat.lastname}
                                            span.chat_date #{chat.sent_at}
                                        p
                                            | #{chat.id}
                            each chat in chats                                
                                .chat_list
                                    .chat_people
                                        .chat_img
                                            img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                                        .chat_ib
                                            h5
                                                a(href="/account/messages/" + chat.id) #{chat.firstname} #{chat.lastname}
                                                span.chat_date #{chat.sent_at}
                                            p
                                                | #{chat.id}
                    .mesgs
                        .msg_history
                            each m in history
                                if(m.isIncoming)
                                    .incoming_msg
                                        .incoming_msg_img
                                            img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                                        .received_msg
                                            .received_withd_msg
                                                p #{m.message}
                                                span.time_date #{m.sent_at}
                                else
                                    .outgoing_msg
                                        .sent_msg
                                            p #{m.message}
                                            span.time_date #{m.sent_at}
                        form(action='/account/messages/' + chat.id + '/', method="post")
                            .input-group
                                input.form-control(type='text', placeholder='Type a message', name="message")
                                .input-group-append        
                                    button.btn.btn-primary(type='submit')
                                        i.fa.fa-paper-plane(aria-hidden='true')


            
