extends layout.pug

block content  
  header.masthead
        .masthead-content
          .container
            h2.text-white.mb-1 #{publication.title} - @#{publication.user_first_name + ' ' + publication.user_last_name}
            .media.text-white
                img.pub.mr-3(src='/' + publication.image_url, alt='...')
                .media-body
                    |     #{publication.description}                                                   
            if publication.publisher_id !== user.id        
              // Button trigger modal
              br
              button.btn.btn-primary(type='button', data-toggle='modal', data-target='#offerModal')
                | Ofertar
            if publication.publisher_id === user.id
              h3.text-warning.mt-5.mb-0 Truekes 
              ul.list-unstyled.text-white
                each offering in offerings
                  li.media.my-4
                    img.pub.img-fluid.mr-3(src='/' + offering.image_url, alt='...')
                    .media-body
                      h5.mt-0.mb-1 #{offering.title}
                      |       #{offering.description}
                      br
                      form(action="/api/account/publications/" + publication.id + "/barters/" + offering.barter_id, method="post")
                        input(type="hidden", name="status", value="accepted")
                        input(type="hidden", name="offering_id", value=offering.id)
                        button.btn.btn-success(type='submit') Aceptar
                each exchange in exchanges
                  li.media.my-4
                    img.pub.img-fluid.mr-3(src='/' + exchange.image_url, alt='...')
                    .media-body
                      h5.mt-0.mb-1 #{exchange.title}
                      |       #{exchange.description}            
            
            
