extends layout.pug

block content
  header.masthead
        .masthead-content
          .container
            h1.text-white.mb-0 Mis Publicaciones
            br
            ul.list-unstyled.text-white
              each pub in publications
                li.media.mt-3
                  figure
                    img.figure-img.img-fluid.rounded.align-self-start.mr-3.pub(src='/' + pub.image_url, alt='...')
                  .media-body
                    h5.mt-0 #{pub.title}
                    p
                      | #{pub.description}
                    a.btn.btn-secondary(href="/publications/"+pub.id)                                            
                      span.badge.badge-light #{pub.barters_count} Truekes                 
            h2.text-white.mb-0 Publicar nuevo anuncio
            .row.col-md-auto
              form.text-white(action="/api/publications", method="post", encType="multipart/form-data")
                .form-group
                  label(for='exampleFormControlInput1') Título
                  input#exampleFormControlInput1.form-control(type='text', name="title")
                .form-group
                  label(for='exampleFormControlTextarea1') Descripción
                  textarea#exampleFormControlTextarea1.form-control(name="description")
                .form-group
                  label(for='exampleFormControlTextarea1') Imagen
                  .custom-file
                    input#validatedCustomFile.custom-file-input(type='file', name="image")
                    label.custom-file-label(for='validatedCustomFile') Elegir archivo
                button.btn.btn-primary.btn-xl.rounded-pill.mt-5(type="submit") Publicar